<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Enter Employee</title>
</head>
{% comment %} <style>
    table {
        border: 10px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
    }
</style> {% endcomment %}

<body>
    <div class="container  "> 
        <h2 style="text-align:center" class="mt-3 mb-2"> Enter Details of Employee </h2>
    <form class ="card" method="POST">
        {% csrf_token %}
        <table class="mt-3 mb-2" style="width:50%" align="center">
            <tr>
                <td>Employee Id</td>
                <td><input type="text" class=" form-control input-group mb-3" placeholder="Enter Employee Id" name="EmpId" </td>
            </tr>
            <tr>
                <td>Employee Name</td>
                <td><input type="text" class=" form-control input-group mb-3" placeholder="Enter Employee Name" name="EmpName" </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td class="mb-3">
                    <input  type="radio" name="EmpGender" value="Male"> Male
                    <input  type="radio" name="EmpGender" value="Female"> Female
                    <input  type="radio" name="EmpGender" value="Other"> Other
                </td>
            </tr>
            <tr>
                <td>Email </td>
                
                <td><input class=" form-control input-group mb-3" type="email" placeholder="Enter Employee Email" name="EmpEmail" </td>
            </tr>
            <tr>
                <td>Designation</td>
                <td><select class=" form-control input-group mb-3" name="EmpDesignation">
                        <option selected disabled=true>Select Designation</option>
                        <option> Project Manager </option>
                        <option> Programmer </option>
                        <option> Desktop Support Technician </option>
                        <option> Web Developer </option>
                        <option> Financial Advisor </option>
                        </option>
                    </select></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" class="btn btn-outline-success mr-50 mt-2"> </td>
            </tr>
        </table>

        <br><br>
        <div class="alert alert-danger" role="alert">
            Do you want see Information of Employees?
        </div>


       

          <div class="card text-center mb-3 mx-auto p-1" style="width: 28rem;">
            <div class="card-header">
              Employee List
            </div>
            <div class="card-body">
                <a href="{% url 'show-emp' %}" class="btn btn-outline-info">Go To Employee Information--></a>
            </div>
          </div>


    </form>
    </div>
</body>

</html>